.item__img{
    width: 228px;
    height: 146px;
    border-radius: 4px;
}
.item__wrapper{
    margin-left:100px;
    margin-top: 50px;
}
.form__wrapper{
    margin-top: 50px;
}
.flex__input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.input__wrapper{
    display: flex;
}
.col2{
    margin-left: 50px;
}
.input{
    width: 289px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.35);
    border-radius: 2px;
    padding-left: 8px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.label{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.error{
    font-family: 'Ubuntu';
    font-style: normal;
    font-size: 12px;
    color: red;
}
.button{
    width: 289px;
    height: 40px;
    cursor: pointer;
    background: #212121;
    border-radius: 2px;
    border: 0;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 15px;
}
